
.header {
    &__logo {
        position: relative;
    }

    &__link {
        position: absolute;
        font-size: 22px;
        left: 20px;
        top: 16px;
        color: black;
    }
    
}

.menu {
    &__container {
        padding: 20px 15px;
        position: relative;
        background-color: $background-color;
        border-radius: 35px 35px 0 0;
        top: -40px;
        }

    &__title {
        font-family: $title-font;
        font-weight: 400;
        font-size: 28px;
    }
}

.menu__regular {
    background-color: red;
    background-clip: text;
    -webkit-text-fill-color: red;
}