@media screen and (min-width: 768px) {
  .step {
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 20px;
    }
    &__card {
      height: 65px;
    }
    &__cardtext {
      font-size: 15px;
    }
    &__icons {
      font-size: 16px;
      margin: 0 10px 0 23px;
    }
  }
  .restaurant {
    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
  }

  .footer {
    &__container {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      padding: 50px 30px 20px 0px;
    }
    &__elements {
      display: flex;
      flex-direction: row;
      margin-top: 0;
    }
    &__link {
      margin-right: 20px;
      margin-bottom: 0;
    }
  }
}
