@media screen and (min-width: 768px) {
  .menu {
    &__container {
      padding: 60px 45px 0 45px;
    }
    &__title {
      display: flex;
      justify-content: center;
    }
    &__heart {
      right: 205px;
      top: 65px;
    }
  }
}
