@media screen and (min-width: 768px) {
  .menu {
    &__container {
      padding: 60px 45px 0 45px;
    }
    &__title {
      display: flex;
      justify-content: center;
    }
    &__heart {
      right: 205px;
      top: 65px;
    }
  }
  .footer {
    &__container {
      padding: 65px 30px 30px 0;
    }
    &__bloc1 {
      display: flex;
      align-items: center;
      margin-right: 25px;
    }
    &__link {
      margin-right: 10px;
    }
    &__bloc2 {
      display: flex;
      align-items: center;
      margin-right: 20px;
    }
  }
}
