@media screen and (min-width: 768px) {
  .step {
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 20px;
    }
    &__cardtext {
      font-size: 15px;
    }
    &__icons {
      font-size: 16px;
      margin: 0 10px 0 23px;
    }
  }
}
