@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style-type: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

.logocontain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
}
.logocontain__title {
  font-size: 30px;
  font-family: "Shrikhand", sans-serif;
}

.headerlocation {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  background-color: #EAEAEA;
  height: 50px;
  box-shadow: inset 0px 4px 11px -8px;
}
.headerlocation__icon {
  margin-right: 18px;
}

.hero {
  padding: 30px 0 45px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F6F6F6;
}
.hero__title {
  line-height: 1.2;
  padding: 0 45px;
  text-align: center;
  margin-bottom: 10px;
}
.hero__subtitle {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 300;
}

.btn {
  padding: 15px 20px;
  border-radius: 50px;
  box-shadow: 0px 5px 7px #C6C6C6;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  font-weight: 500;
  border: none;
  color: white;
  transition: transform 400ms, filter 400ms;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
  font-weight: 400;
}

.step {
  padding: 20px 0 40px 0;
}
.step__title {
  padding: 0 15px;
  font-size: 24px;
  margin-bottom: 30px;
}
.step__list {
  padding: 0 24px;
}
.step__card {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  margin-bottom: 20px;
  height: 72px;
  border-radius: 20px;
  box-shadow: 0px 4px 7px #C6C6C6;
}
.step__number {
  position: absolute;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background-color: #9356DC;
  font-size: 14px;
  color: white;
}
.step__icons {
  margin: 0 20px 0 35px;
  color: #7E7E7E;
}
.step__icons--purple {
  color: #9356DC;
}
.step__cardtext {
  font-weight: 500;
}

.restaurant {
  background-color: #F6F6F6;
  padding: 40px 15px;
}
.restaurant__title {
  margin-bottom: 20px;
}

.content {
  position: relative;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 20px;
  position: relative;
  height: 250px;
}
.content__img {
  border-radius: 20px 20px 0 0;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
}
.content__label {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99E2D0;
  padding: 4px 13px;
  border-radius: 3px;
  color: green;
  font-weight: 500;
}
.content__title {
  color: black;
  margin: 13px 0 -2px 15px;
}
.content__city {
  color: black;
  margin: 0 0 0 15px;
  font-size: 17px;
}
.content__heart {
  position: absolute;
  bottom: 30px;
  right: 25px;
  font-size: 27px;
}
.content__heartempty {
  color: black;
}
.content__hearthover {
  opacity: 0;
  transition: opacity 400ms;
  background: linear-gradient(to bottom right, #ff79d9, #9256dc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content__hearthover:hover {
  opacity: 1;
}

.footer {
  background-color: #353535;
}
.footer__container {
  padding: 25px 0 25px 25px;
}
.footer__title {
  font-family: "Shrikhand", sans-serif;
  color: white;
  font-weight: 300;
}
.footer__elements {
  margin-top: 18px;
}
.footer__link {
  margin-bottom: 4px;
}
.footer__text {
  color: white;
}
.footer__ustensil {
  margin-right: 15px;
}
.footer__handshake {
  margin-right: 10px;
}
.footer__bold {
  font-weight: 500;
}

.header__logo {
  position: relative;
}
.header__link {
  position: absolute;
  font-size: 22px;
  left: 20px;
  top: 16px;
  color: black;
}

.menu {
  background-color: #F6F6F6;
}
.menu__container {
  padding: 30px 15px 0 15px;
  position: relative;
  background-color: #F6F6F6;
  border-radius: 45px 45px 0 0;
  top: -45px;
}
.menu__header {
  margin-bottom: 40px;
}
.menu__title {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 28px;
}
.menu__heart {
  position: absolute;
  right: 40px;
  top: 34px;
  font-size: 27px;
  cursor: pointer;
}
.menu__regular {
  color: black;
}
.menu__solid {
  opacity: 0;
  transition: opacity 400ms;
  background: linear-gradient(to bottom right, #ff79d9, #9256dc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__solid:hover {
  opacity: 1;
}

.starter, .dishe, .dessert {
  margin-bottom: 40px;
}

.title-restau {
  position: relative;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 15px;
}
.title-restau::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 0px;
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
}

.card-menu {
  cursor: pointer;
  position: relative;
  padding: 10px 0 10px 15px;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 7px #C6C6C6;
  transition: transform 400ms;
}
.card-menu:hover {
  transform: scale(1.02);
}

.card-name {
  font-size: 17px;
}

.card-description {
  font-size: 14px;
}

.card-price {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-weight: 600;
}

.order {
  display: flex;
  justify-content: center;
}
.order__btn {
  padding: 15px 50px;
}

@media screen and (min-width: 768px) {
  .step__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .step__card {
    height: 65px;
  }
  .step__cardtext {
    font-size: 15px;
  }
  .step__icons {
    font-size: 16px;
    margin: 0 10px 0 23px;
  }
  .restaurant__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .footer__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 50px 30px 20px 0px;
  }
  .footer__elements {
    display: flex;
    flex-direction: row;
    margin-top: 0;
  }
  .footer__link {
    margin-right: 20px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .menu__container {
    padding: 60px 45px 0 45px;
  }
  .menu__title {
    display: flex;
    justify-content: center;
  }
  .menu__heart {
    right: 205px;
    top: 65px;
  }
}/*# sourceMappingURL=main.css.map */