//Style principal des buttons
.btn {
    padding: 15px 20px;
    border-radius: 50px;
    box-shadow: 0px 5px 7px $shadow-color;
    background: $gradient-button;
    font-weight: 500;
    border: none;
    color: white;
    transition: transform 400ms, filter 400ms;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
        filter: brightness(1.1);
        font-weight: 400;
        box-shadow: 0px 5px 7px darken($shadow-color, 25%);
    }
}

//Style du bouton commander

.order {
    @include justify-center;

    &__btn {
        padding: 15px 50px;
    }
}