.loader {
    position: fixed;
    display: grid;
    place-items: center;
    background-color: #f2f2f2;
    width: 100vw;
    height: 100vh;
    opacity: 0.9;
    z-index: 1;
    animation: loader both;
    animation-delay: 1500ms;
    
    &::after {
        content:"";
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: 10px dashed transparent;
        border-top: 10px dashed #FF79DA;
        border-right: 10px solid #FF79DA;
        animation: rotate-circle 700ms infinite ;
       }
}

@keyframes rotate-circle {
    to {
        transform: rotate(1turn);
    }
}

@keyframes loader {
     to {
     opacity: 0;
          display: none;
      }
  }

  @media screen and (min-width: 1025px) {
    .loader {
      &::after {
        content:"";
        height: 150px;
          width: 150px;
      }
    }
}

  @media screen and (min-width: 600px) {
    .loader {
      &::after {
        content:"";
        height: 125px;
          width: 125px;
      }
    }
}