$main-font: 'Roboto', sans-serif;
$title-font: 'Shrikhand', sans-serif;
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-color: #F6F6F6;
$shadow-color: #C6C6C6;
$gradient-button: linear-gradient(to bottom right, #FF79DA, #9356DC);
